.idea
__pycache__
*.tgz
server/__pycache__/
server/subscription/__pycache__/
requirements.lock
idl/github.com/carta/*
!idl/github.com/carta/subscriptions
venv
.python-version
*.iml
*.lock
build/
*.egg-info/
dist/
.mypy_cache
*.mo
*.DS_Store
revenue_service/.env
docker-compose.env
